.logo{
    margin-left: 500px;
}
.map-field{
    height: 400px;
    width: 100%;
    box-shadow: 4px 4px 4px 4px #999;
}
.form-group{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.form-group button{
    margin-top: 25px;
}
.userName{
    font-weight: bold;
    text-align: center;
}